.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100dvh;
  background-color: #f5f5f5;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  margin-bottom: 20px;
}

.rewardedPlay {
  height: 75%;
  margin-bottom: 20px;
}

.rewardedPlay h1 {
  height: 25%;
  width: 100%;
}

.wheelContainer {
  position: relative;
  height: 100%;
  width: auto;

  flex: 1;
  max-height: 1024px;
  aspect-ratio: 1/1;
  margin-top: 3%;
}

.chartBox {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.myChart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wheelBorder {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(0, 0%);
  z-index: 1;
}

.wheelCenter {
  position: absolute;
  width: 15%;
  height: 15%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.wheelSmallCenter {
  position: absolute;
  width: 15%;
  height: 7%;
  width: 7%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (orientation: portrait) {
  .wheelContainer {
    width: 80%;
    margin-top: 3%;
    flex: 0;
    justify-content: space-between;
  }
}

.modalOverlay {
  z-index: 3;
  position: absolute;
}

.doneButton {
  height: 50px;
  width: 80%;
  max-width: 290px;
  background: #f1045c;
  border-color: white;
  color: white;
  border-radius: 15px;
  font-weight: bold;
}

/* CSS to add shadow effect to each slice */
.chartjs-render-monitor .chartjs-render-monitor path {
  filter: drop-shadow(
    2px 2px 4px rgba(0, 0, 0, 0.5)
  ); /* Adjust shadow properties as needed */
}

.prizeScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 5% 5% 5%;
  gap: 5%;
  text-align: center;
}

.prize {
  color: #f1045c;
}

.rewardedPlayDone {
  height: 15%;
  width: auto;
}
.swipeBox {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  z-index: 2;
}
