/* styles.css */

.loginContainer {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.loginContainer h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.loginContainer label {
  display: block;
  margin-bottom: 10px;
}

.loginContainer input[type="email"],
.loginContainer input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginContainer button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginContainer button:hover {
  background-color: #0056b3;
}
